<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>好监控--便捷的外围服务监控报警系统</title>

    <meta name="description" content="基于匹配规则的外围监控系统，分布式部署，便捷的配置管理">
    <meta name="author" content="LayoutIt!">

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">

  </head>
  <body>

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					 
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button> <a class="navbar-brand" href="#">好监控</a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="#">首页</a>
						</li>
						<li>
							<a href="#">文档</a>
						</li>
				</div>
				
			</nav>

			<div class="row">
				<div class="col-md-12" style='text-align: center;'>
					<img alt="好监控" src="http://p0.qhimg.com/t01f5eadac38b4148da.png" width=100px class="img-circle" />
				</div>
			</div>

			<div class="jumbotron">
				<h2>
					什么是好监控?
				</h2>
				<p>
					好监控是一个便捷的，支付分布式部署的外围监控系统，可以灵活定制监控策略，做到对自己的系统心中有数，比任何人都能先一步发现问题。
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="#">了解更多</a>
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h2>
				高效率
			</h2>
			<p>
				采用Golang语言，天然的高并发支持，做到秒级的周期配置。
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>
				易部署
			</h2>
			<p>
				编译为二进制可执行文件，直接运行即可完成部署。
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>
				易操作
			</h2>
			<p>
				简单易用的配置管理，可以轻松配置监控服务，并有详细的报表视图，对系统的监控情况一目了然。
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
	</div>
</div>

    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/scripts.js"></script>
  </body>
</html>
